@charset "utf-8";

h1 span{font-size:2.0em;
font-weight: bold;}

#ingredient{
border: 2px solid lightcoral;
border-collapse: collapse;
}

th,td{
border: 1px solid lightcoral;
}

.phot{float: left;}

.btn{
 -webkit-appearance: none;
 -webkit-border-radius: 0;
 border: none;
}

.btn-submit{
background-color:lightcoral; 
}

.btn-reset{
background-color:silver;
}
